<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc><%= @places_url %></loc>
  </sitemap>
  <sitemap>
    <loc><%= @checkins_url %></loc>
  </sitemap>
  <sitemap>
    <loc><%= @posts_url %></loc>
  </sitemap>
</sitemapindex>
