<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-7xl">
    <.header>
      Home Page
      <:subtitle>Home page stuff will go here</:subtitle>
    </.header>
    <div id="map"></div>
    <.activity_feed activities={@activities} />
  </div>
</Layouts.app>
