<div id="comment-section-container" class="my-4" phx-hook="Timezone">
  <%= if @current_scope do %>
    <%= if @comment_tree != [] do %>
      <h2>Comments</h2>
      <%= for {comment, replies} <- @comment_tree do %>
        <div id={"comment-#{comment.id}"} class="my-4 pl-3 border-l-2 border-base-300">
          <.comment_row
            comment={comment}
            current_scope={@current_scope}
            liked_uris={@liked_uris}
            like_counts={@like_counts}
            liker_map={@liker_map}
            editing_id={@editing_id}
            comment_max_length={@comment_max_length}
          />
          <%= if @reply_to_id == comment.id do %>
            <.reply_form comment_id={comment.id} comment_max_length={@comment_max_length} />
          <% end %>
          <%= for reply <- replies do %>
            <div id={"comment-#{reply.id}"} class="mt-3 ml-4 pl-3 border-l-2 border-base-200">
              <.comment_row
                comment={reply}
                current_scope={@current_scope}
                liked_uris={@liked_uris}
                like_counts={@like_counts}
                liker_map={@liker_map}
                editing_id={@editing_id}
                comment_max_length={@comment_max_length}
              />
              <%= if @reply_to_id == reply.id do %>
                <.reply_form comment_id={reply.id} comment_max_length={@comment_max_length} />
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <form class="my-4" phx-submit="submit_comment">
      <textarea
        name="content"
        class="textarea textarea-bordered w-full"
        placeholder="Add a comment..."
        rows="3"
        {if @comment_max_length, do: [maxlength: @comment_max_length], else: []}
      ></textarea>
      <div class="flex justify-end mt-1">
        <button type="submit" class="btn btn-primary btn-sm">Comment</button>
      </div>
    </form>
  <% else %>
    <div class="my-2 flex items-center gap-3">
      <.icon_link href="/people/signin" icon="hero-chat-bubble-left">
        Comment
      </.icon_link>
      <%= if @comment_tree != [] do %>
        <div class="flex -space-x-2">
          <%= for author <- unique_comment_authors(@comment_tree) |> Enum.take(8) do %>
            <.activity_avatar author={author} width={6} />
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
