<Layouts.app flash={@flash} current_scope={@current_scope} site={@site}>
  <div class="mx-auto max-w-7xl">
    <h1 class="my-4 leading-10">{@person.display_name || "Someone"}</h1>
    <div class="my-4 flex flex-wrap gap-2">
      <button
        :if={@can_follow}
        type="button"
        phx-click={if @following?, do: "unfollow", else: "follow"}
        class="btn btn-soft p-2 no-underline group"
      >
        <%= if @following? do %>
          <span class="group-hover:hidden">Following</span>
          <span class="hidden group-hover:inline">Unfollow</span>
          <.icon name="hero-user-minus" class="w-4 h-4 hidden group-hover:inline" />
          <.icon name="hero-check" class="w-4 h-4 group-hover:hidden" />
        <% else %>
          Follow <.icon name="hero-user-plus" class="w-4 h-4" />
        <% end %>
      </button>
      <.icon_link href={person_feed_rss_url(@person.id)} icon="hero-rss" icon_class="w-4 h-4">
        RSS
      </.icon_link>
    </div>
    <.map />
    <.activity_feed activities={@activities} has_more={@has_more} />
  </div>
</Layouts.app>
