<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id><%= @feed_id %></id>
  <title><%= html_escaped(@feed_title) %></title>
  <subtitle><%= html_escaped(@feed_subtitle) %></subtitle>
  <link rel="self" type="application/atom+xml" href="<%= @feed_self_url %>"/>
  <link rel="alternate" type="text/html" href="<%= @feed_alternate_url %>"/>
  <updated><%= format_atom_datetime(@updated_at) %></updated>
<%= for activity <- @activities do %>
  <entry>
    <id><%= feed_entry_id(activity) %></id>
    <title type="text"><%= html_escaped(feed_entry_title(activity)) %></title>
    <updated><%= feed_entry_updated(activity) %></updated>
    <author>
      <name><%= html_escaped(feed_entry_author_name(activity)) %></name>
      <%= if uri = feed_entry_author_uri(activity) do %><uri><%= uri %></uri><% end %>
    </author>
    <%= if link = feed_entry_link(activity) do %><link rel="alternate" type="text/html" href="<%= link %>"/><% end %>
    <%= if content = feed_entry_content(activity) do %><content type="html"><![CDATA[<%= content %>]]></content><% end %>
    <%= for enclosure <- feed_entry_enclosures(activity) do %><link rel="enclosure" type="<%= enclosure.type %>" href="<%= enclosure.url %>"/><% end %>
  </entry>
<% end %>
</feed>
