<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-7xl h-entry">
    <link class="u-uid" href={@post.uri} />
    <article class="my-4">
      <h1 class="my-4 leading-10 p-name">{@post.name || "Post"}</h1>
      <.entry_owner_actions
        current_scope={@current_scope}
        entry_author_uri={@post.author_uri}
        has_images={@post.entry_images != []}
        edit_href={~p"/posts/#{@post.id}/edit"}
        retransform_href={~p"/posts/#{@post.id}/retransform_images"}
        entry_label="post"
      />
      <div class="my-4 flex items-start gap-2">
        <div class="shrink-0">
          <.activity_avatar author={@post.author} />
        </div>
        <div class="flex flex-col sm:flex-row sm:flex-wrap sm:items-baseline gap-1 sm:gap-x-1">
          <span>
            <%= if @post.author do %>
              <span class="p-author h-card">
                <a class="u-url p-name" href={@post.author.url}>
                  {@post.author.display_name || @post.author.username}
                </a>
              </span>
            <% end %>
            {if @post.published_at_utc, do: "posted", else: "drafted"}
          </span>
          <%= if @post.published_at_utc do %>
            <time class="dt-published" datetime={DateTime.to_iso8601(@post.published_at_utc)}>
              {Calendar.strftime(@post.published_at_local, "%Y-%m-%d")} {format_local_datetime(
                @post.published_at_local,
                @post.published_tz,
                @post.published_at_utc
              )}
            </time>
          <% end %>
          <%= if @post.entry_places != [] do %>
            <span>
              at
              <%= for {ep, i} <- Enum.with_index(@post.entry_places) do %>
                <a class="p-location" href={ep.place.url}>{ep.place.name}</a>
                <%= if i < length(@post.entry_places) - 1 do %>
                  ,
                <% end %>
              <% end %>
            </span>
          <% end %>
          <%= if @post.companions != [] do %>
            <span id="companion-section">
              with
              <span class="inline-flex -space-x-2 align-middle">
                <%= for ep <- Enum.take(@post.companions, 5), ep.person do %>
                  <.activity_avatar author={ep.person} width={6} />
                <% end %>
                <%= if length(@post.companions) > 5 do %>
                  <span class="text-sm ml-1">+{length(@post.companions) - 5} more</span>
                <% end %>
              </span>
            </span>
          <% end %>
        </div>
      </div>
      <%= if @post.content_html do %>
        <div class="content e-content">
          {raw(@post.content_html)}
        </div>
      <% end %>
      <%= if @post.entry_images != [] do %>
        <%= for entry_image <- @post.entry_images do %>
          <figure class="my-4">
            <a href={
              Revix.Uploaders.Image.url({entry_image.image.file, entry_image.image}, :large)
            }>
              <img
                src={
                  Revix.Uploaders.Image.url(
                    {entry_image.image.file, entry_image.image},
                    :medium
                  )
                }
                alt={entry_image.image.alt || ""}
                class="rounded"
                loading="lazy"
                {dimension_attrs(entry_image.image, :medium)}
                {srcset_attrs(entry_image.image, "(max-width: 800px) 100vw, 800px")}
              />
            </a>
            <%= if entry_image.image.caption_html do %>
              <figcaption class="my-1 font-serif text text-base-content/80">
                {raw(entry_image.image.caption_html)}
              </figcaption>
            <% end %>
          </figure>
        <% end %>
      <% end %>
      <.entry_interactions
        conn={@conn}
        current_scope={@current_scope}
        entry_uri={@post.uri}
        entry_author_uri={@post.author_uri}
        person_token={@person_token}
      />
      <%= if Enum.any?(@post.entry_places, & &1.place.coordinates) do %>
        <.map />
      <% end %>
    </article>
  </div>
</Layouts.app>
