<Layouts.app flash={@flash} current_scope={@current_scope} site={@site}>
  <div class="mx-auto max-w-7xl">
    <.header>Checkins</.header>
    <.map />
    <.inline_list :let={checkin} entries={@checkins}>
      <a href={checkin_path(checkin)} class="inline-block py-1 -my-1">
        <.avatar_image
          :if={checkin.author}
          person={checkin.author}
          class="inline-block w-5 h-5 rounded-full align-middle mr-1"
        />{(checkin.place && checkin.place.name) || checkin.name || "Checkin"}
        <span class="text-base-content/60">
          {Calendar.strftime(checkin.starts_at_local, "%Y-%m-%d")}
        </span>
      </a>
      <span
        :if={(like_count = Map.get(@like_counts, checkin.uri, 0)) > 0}
        class="inline-flex items-center align-middle gap-0.5 text-base-content/60"
      >
        <.icon name="hero-heart" class="w-4 h-4" />{like_count}
      </span>
    </.inline_list>
  </div>
</Layouts.app>
