<Layouts.app flash={@flash} current_scope={@current_scope} site={@site}>
  <div class="mx-auto max-w-7xl">
    <.header>Places</.header>
    <.map />
    <.inline_list :let={place} entries={@places}>
      <a href={place.url} class="inline-block py-1 -my-1 align-middle">{place.name}</a>
    </.inline_list>
  </div>
</Layouts.app>
