<Layouts.app flash={@flash} current_scope={@current_scope} site={@site}>
  <div class="mx-auto max-w-7xl h-card">
    <link class="u-uid" href={@place.uri} />
    <a class="u-url" href={@place.url} hidden></a>
    <article>
      <h1 class="my-4 leading-10 p-name">{@place.name}</h1>
      <%= if @place.coordinates do %>
        <% {lon, lat} = @place.coordinates.coordinates %>
        <data class="p-latitude" value={lat}></data>
        <data class="p-longitude" value={lon}></data>
      <% end %>
      <%= if @current_scope && @current_scope.role == :owner do %>
        <div class="my-4 flex flex-wrap gap-2">
          <.icon_link href={~p"/places/#{@place.id}/checkins/new"} icon="hero-map-pin">
            Check in
          </.icon_link>
          <.icon_link href={~p"/places/#{@place.id}/edit"} icon="hero-pencil-square">
            Edit
          </.icon_link>
          <.icon_link href={~p"/places/#{@place.id}/merge"} icon="hero-arrows-pointing-in">
            Merge
          </.icon_link>
        </div>
      <% end %>
      <%= if @place.osm_type && @place.osm_id do %>
        <a
          href={"https://www.openstreetmap.org/#{@place.osm_type}/#{@place.osm_id}"}
          target="_blank"
          rel="noopener"
          class="badge badge-ghost my-2"
        >
          <.icon name="hero-map" class="w-3 h-3 mr-1" /> OSM
        </a>
      <% end %>
      <%= if @place.content_html do %>
        <div class="content e-content">
          {raw(@place.content_html)}
        </div>
      <% end %>
    </article>
    <.map />
    <%= if @posts != [] do %>
      <div id="posts">
        <.inline_list :let={post} title="Posts" entries={@posts}>
          <a href={post.url} class="inline-block py-1 -my-1">
            <.avatar_image
              :if={post.author}
              person={post.author}
              class="inline-block w-5 h-5 rounded-full align-middle mr-1"
            />{post.name || "Post"}
            <%= if post.published_at_local do %>
              <span class="text-base-content/60">
                {Calendar.strftime(post.published_at_local, "%Y-%m-%d")}
              </span>
            <% end %>
          </a>
        </.inline_list>
      </div>
    <% end %>
    <%= if @checkins != [] do %>
      <div id="checkins">
        <.inline_list :let={checkin} title="Checkins" entries={@checkins}>
          <a href={checkin.url} class="inline-block py-1 -my-1">
            <.avatar_image
              :if={checkin.author}
              person={checkin.author}
              class="inline-block w-5 h-5 rounded-full align-middle mr-1"
            />{Calendar.strftime(checkin.starts_at_local, "%Y-%m-%d")}
            <span class="text-base-content/60">
              {format_local_datetime(
                checkin.starts_at_local,
                checkin.starts_tz,
                checkin.starts_at_utc
              )}
            </span>
          </a>
          <span
            :if={(like_count = Map.get(@like_counts, checkin.uri, 0)) > 0}
            class="inline-flex items-center align-middle gap-0.5 text-base-content/60"
          >
            <.icon name="hero-heart" class="w-4 h-4" />{like_count}
          </span>
        </.inline_list>
      </div>
    <% end %>
    <%= if @nearby != [] do %>
      <div id="nearby">
        <.inline_list :let={nearby} title="Nearby Places" entries={@nearby}>
          <a href={nearby.place.url} class="inline-block py-1 -my-1 align-middle">
            {nearby.place.name}
            <span class="text-base-content/60">
              {Float.round(nearby.distance / 1000, 1)} km
            </span>
          </a>
        </.inline_list>
      </div>
    <% end %>
  </div>
</Layouts.app>
